body {
    background-color:rgb(132, 180, 199);
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    color:darkcyan;
}
.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav>li{   
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    background-color: rgb(211, 62, 191);
    color: blue;
    padding: 20px;
    border-radius: 15px;
}
.test-class {
    display: flex;
    justify-content: center;
    color: blueviolet;
}