body {
    background-color:rgb(132, 180, 199);

    /*
    width: 30em;
    margin: 0 auto;
    */
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    color:darkcyan;
}
.batton{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.batton>li{
margin-left: 10px;
margin-right: 10px;
}
.test-class {

    margin: 0 auto;
    color: blueviolet;
}