body {
    background-color:rgb(132, 180, 199);
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    color:darkcyan;
}
.nav>ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 40px;
}

.nav>ul>li{   
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    background-color: rgb(211, 62, 191);
    color: blue;
    padding: 20px;
    border-radius: 15px;
    font-size:larger;
    font-weight: bold;
}
.line{
    color: rgb(37, 2, 70);
}
.test-class {
    display: flex;
    justify-content: center;
    color: blueviolet;
}

.counter{
    display: flex;
    justify-content: center;
}

.counter>img{
    border: 0; 
    height: 62px; 
    width: 176px;
}

.time{
    display: flex;
    justify-content: center;
}

#digital_watch{

    letter-spacing: 5px;
    color: rgb(109, 89, 89);
    font-size: 30px;
    border: 2px solid rgb(94, 89, 89);
    padding: 10px;
    width: 160px;
    box-shadow: 1px 1px 3px #BCCCCF,
    -1px -1px 2px #BCCCCF;
    background-color: bisque;
}

.man{
    display: flex;
    justify-content: center;
}

.man>img{
    height: 96px; 
    width: 96px; 
}
.basement{
    display: flex;
    justify-content: center;
    
}

.basement>p{
    margin-left: 15px;
    margin-right: 15px;
}

.scripts{
    display: none;
}
